* {
  margin: 0;
  padding: 0;
}
.search-form {
  background-color: blue;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-el {
  border: transparent;

  border-radius: 40px 0px 0px 40px;
  padding-left: 10px;
}
.btn {
  display: flex;
  text-align: center;
  justify-content: center;
  border: transparent;
  border-radius: 0px 40px 40px 0px;
  cursor: pointer;
  width: 30px;
}
